# US dollar, adjusted gross income and 

This notebook focuses on some initial exploration of “companies_funding” table and afterwards make adjustment to the fund received by the companies over the years by using the “Consumer Price Index”.

In [1]:
from utils import *
%matplotlib inline

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/scipy/sparse/sparsetools.py:20: DeprecationWarning:

`scipy.sparse.sparsetools` is deprecated!
scipy.sparse.sparsetools is a private module for scipy.sparse, and should not be used.

plotly  2.4.0

In [2]:
df = pd.read_csv('./data/companies_funding.csv')
df.shape

(423918, 12)

In [3]:
# pars the date
df['date_pars'] = pd.to_datetime(df.date)
df['year'] = df.date_pars.dt.year
df['month'] = df.date_pars.dt.month
df['week'] = df.date_pars.dt.week

In [4]:
display(DataFrameSummary(df).summary())

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:111: DeprecationWarning:

pandas.core.common.is_numeric_dtype is deprecated. import from the public API: pandas.api.types.is_numeric_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:114: DeprecationWarning:

pandas.core.common.is_datetime64_dtype is deprecated. import from the public API: pandas.api.types.is_datetime64_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:114: DeprecationWarning:

pandas.core.common.is_datetime64_dtype is deprecated. import from the public API: pandas.api.types.is_datetime64_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:114: DeprecationWarning:

pandas.core.common.is_datetime64_dtype is deprecated. import from the public API: pandas.api.types.is_datetime64_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:114: DeprecationWarning:

pandas.core.common.is_datetime64_dtype is deprecated. import from the public API: pandas.api.types.is_datetime64_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:114: DeprecationWarning:

pandas.core.common.is_datetime64_dtype is deprecated. import from the public API: pandas.api.types.is_datetime64_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:114: DeprecationWarning:

pandas.core.common.is_datetime64_dtype is deprecated. import from the public API: pandas.api.types.is_datetime64_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:114: DeprecationWarning:

pandas.core.common.is_datetime64_dtype is deprecated. import from the public API: pandas.api.types.is_datetime64_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:114: DeprecationWarning:

pandas.core.common.is_datetime64_dtype is deprecated. import from the public API: pandas.api.types.is_datetime64_dtype instead

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas_summary/__init__.py:91: DeprecationWarning:


.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,Unnamed: 0,ds_uuid,investor,date,amount_raised,round_type,update_status,source,round_id,currency,clean_url,update_date,date_pars,year,month,week
count,423918,NaN,NaN,NaN,278905,NaN,NaN,NaN,333596,NaN,NaN,NaN,NaN,333505,333505,333505
mean,211958,NaN,NaN,NaN,3.44921e+07,NaN,NaN,NaN,2.17115,NaN,NaN,NaN,NaN,2012.36,6.37937,26.3615
std,122375,NaN,NaN,NaN,1.57354e+09,NaN,NaN,NaN,1.61722,NaN,NaN,NaN,NaN,4.4436,3.4523,15.1197
min,0,NaN,NaN,NaN,0,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1968,1,1
25%,105979,NaN,NaN,NaN,1e+06,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,2011,3,13
50%,211958,NaN,NaN,NaN,3.725e+06,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2014,6,26
75%,317938,NaN,NaN,NaN,1.3e+07,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,2016,9,39
max,423917,NaN,NaN,NaN,5.0005e+11,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,2018,12,53
counts,423918,423918,333504,333505,278905,333505,423606,333596,333596,284873,423918,423918,333505,333505,333505,333505
uniques,423918,184146,44552,6428,15784,34,2,2,10,54,184146,201,6428,43,12,53
missing,0,0,90414,90413,145013,90413,312,90322,90322,139045,0,0,90413,90413,90413,90413
missing_perc,0%,0%,21.33%,21.33%,34.21%,21.33%,0.07%,21.31%,21.31%,32.80%,0%,0%,21.33%,21.33%,21.33%,21.33%
types,numeric,categorical,categorical,categorical,numeric,categorical,bool,bool,numeric,categorical,categorical,categorical,date,numeric,numeric,numeric

In [5]:
df.describe()

,Unnamed: 0,amount_raised,round_id,year,month,week
count,423918.000000,2.789050e+05,333596.000000,333505.000000,333505.000000,333505.000000
mean,211958.500000,3.449210e+07,2.171150,2012.357308,6.379371,26.361527
std,122374.730044,1.573544e+09,1.617221,4.443602,3.452298,15.119700
min,0.000000,0.000000e+00,1.000000,1968.000000,1.000000,1.000000
25%,105979.250000,1.000000e+06,1.000000,2011.000000,3.000000,13.000000
50%,211958.500000,3.725000e+06,2.000000,2014.000000,6.000000,26.000000
75%,317937.750000,1.300000e+07,3.000000,2016.000000,9.000000,39.000000
max,423917.000000,5.000500e+11,10.000000,2018.000000,12.000000,53.000000

In [6]:
df.head()

,Unnamed: 0,ds_uuid,investor,date,amount_raised,round_type,update_status,source,round_id,currency,clean_url,update_date,date_pars,year,month,week
0,0,c9005990-b1f3-4e27-a1fd-945bb8d16cfd,Menlo Ventures,2006-06-29,40000000.0,venture C,success,crunchbase,3.0,USD,epac.com,2018-01-21,2006-06-29,2006.0,6.0,26.0
1,1,bc44e52d-c991-469d-b769-8571623437fa,NaN,NaN,NaN,NaN,no data,NaN,NaN,NaN,creditrepairexpert.org,2017-06-16,NaT,NaN,NaN,NaN
2,2,90214116-40c1-472b-b0b4-3fc53fd8dc38,NaN,NaN,NaN,NaN,no data,NaN,NaN,NaN,xpertfinancial.com,2017-08-05,NaT,NaN,NaN,NaN
3,3,438ed619-7fdb-45ba-9788-5fce90536b46,NaN,NaN,NaN,NaN,no data,NaN,NaN,NaN,searchoptmedia.com,2017-07-06,NaT,NaN,NaN,NaN
4,4,6ff5e99a-c45d-494b-b4cb-257b55d1bc73,NaN,NaN,NaN,NaN,no data,NaN,NaN,NaN,vision64.com,2017-06-16,NaT,NaN,NaN,NaN

In [7]:
currency = df.currency.value_counts()

iplot(currency.iplot(asFigure=True,
                 kind='bar',
                 xTitle='',
                 yTitle='',
                 title='Total number of investment as the function of currency'))

In [8]:
df.currency.isnull().values.sum()

139045

## Us dollar funds and Consumer Price Index for USD funds:

As can be seen from the previous graph more than 247 000 of our data is coming from USD investments. and we are missing currency value on more than 130 000 of the input data. Thus at this stage, for simplifying work only USD funds is considered. 

Furthermore, Since the data is span over few decades and funds are subjected to inflation over these years. We need to correct these funds by using “Consumer Price Index”.

In [9]:
df_dollar = df[df.currency == "USD"]
df_dollar.shape

(247223, 16)

In [10]:
cpi = pd.read_html('http://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/')
cpi = cpi[0]
cpi1 = cpi[[0,13]].copy()
cpil = cpi1[2:].copy()

cpil['cpi1'] = cpil[13].apply(lambda x: 240.007/float(x))
cpil['year'] = cpil[0].apply(lambda x:int(x))
cpil_f = cpil[['year','cpi1']]

In [11]:
cpil_f.head()

   year       cpi1
2  1913  24.243131
3  1914  24.000700
4  1915  23.763069
5  1916  22.018991
6  1917  18.750547

In [12]:
def join_df(left, right, left_on, right_on=None):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", "_y"))

In [13]:
df_dollar = join_df(df_dollar, cpil_f, "year", "year")
df_dollar.shape

(247223, 17)

In [14]:
df_dollar.columns

Index(['Unnamed: 0', 'ds_uuid', 'investor', 'date', 'amount_raised',
       'round_type', 'update_status', 'source', 'round_id', 'currency',
       'clean_url', 'update_date', 'date_pars', 'year', 'month', 'week',
       'cpi1'],
      dtype='object')

In [15]:
df_dollar.head()

,Unnamed: 0,ds_uuid,investor,date,amount_raised,round_type,update_status,source,round_id,currency,clean_url,update_date,date_pars,year,month,week,cpi1
0,0,c9005990-b1f3-4e27-a1fd-945bb8d16cfd,Menlo Ventures,2006-06-29,40000000.0,venture C,success,crunchbase,3.0,USD,epac.com,2018-01-21,2006-06-29,2006,6.0,26.0,1.190511
1,7,807325ce-ad0f-49cd-8d71-47e4e74cc3e1,AlphaLab,2016-07-20,25000.0,seed,success,crunchbase,1.0,USD,getstrix.com,2017-10-16,2016-07-20,2016,7.0,29.0,1.000000
2,12,c9005990-b1f3-4e27-a1fd-945bb8d16cfd,Investor Growth Capital Limited,2006-06-29,40000000.0,venture C,success,crunchbase,3.0,USD,epac.com,2018-01-21,2006-06-29,2006,6.0,26.0,1.190511
3,14,e8cdb084-4925-4990-9f65-5ab6d54c96be,Unknown,2012-04-26,685000.0,seed,success,crunchbase,1.0,USD,binderspine.com,2018-01-22,2012-04-26,2012,4.0,17.0,1.045354
4,15,54b00ac1-86f6-44d1-bfc9-9c707af26fc8,Naval Ravikant,2013-04-26,12000000.0,venture A,success,crunchbase,3.0,USD,tilt.co,2018-01-19,2013-04-26,2013,4.0,17.0,1.030263

In [16]:
def adjusted (x,y):
    return (x*y)
df_dollar['adjusted_amount_raised'] = np.vectorize(adjusted)(df_dollar['amount_raised'],df_dollar['cpi1'])

In [17]:
df_dollar_year = df_dollar.groupby([ 'year'],)[['adjusted_amount_raised']].sum()

iplot(df_dollar_year.iplot(asFigure=True,
                 kind='bar',
                 xTitle='',
                 yTitle='',
                 title='Total Fund raised after adjusting for Consumer Price Index'))

In [18]:
year = df_dollar.year.value_counts()

iplot(year.iplot(asFigure=True,
                 kind='bar',
                 xTitle='',
                 yTitle='',
                 title='Total Fund raised without adjusting for Consumer Price Index'))

In [19]:
df_dollar['month_s'] = df_dollar.month.apply(lambda x: int(x))
df_dollar['month_n'] = df_dollar['month_s'].apply(lambda x: calendar.month_abbr[x])
month = df_dollar.month_n.value_counts()

iplot(month.iplot(asFigure=True,
                 kind='bar',
                 xTitle='',
                 yTitle='',
                 title='Total count of investment as the function of month'))

### Cleaning the ‘round types’:

In this dataset we have few inconstancies regarding the funding 'round type'. For instance, both ‘seed’ and ‘seed a ‘are referring to 'seed', or there in some places we have 'venture A' and 'venture a'. 

So in the following section I have fixed these issues and there are much more to be done.

In [20]:
df_dollar.round_type.value_counts()

seed                     60790
venture A                42513
venture                  39118
venture B                32414
venture C                19541
venture D                 9424
angel                     8895
debt_financing            8390
convertible_note          4566
venture E                 3921
grant                     3858
private_equity            3827
post_ipo_equity           2344
undisclosed               1419
venture F                 1409
equity_crowdfunding       1095
venture a                  668
product_crowdfunding       569
post_ipo_debt              515
non_equity_assistance      467
venture G                  425
venture b                  284
initial_coin_offering      203
venture c                  142
secondary_market           119
venture H                  108
corporate_round             91
venture d                   62
venture f                   20
venture e                   19
convertible_note E           4
seed A                       3
Name: round_type, dtype: int64

In [21]:
def roundtype(x):
    t = x
    t= t.lower()
    if t == 'seed a':
        return 'seed'
    else:
        return(t)
df_dollar['round_type_fixed'] = df_dollar.round_type.apply(roundtype)

## Adding the information regarding companoies staus:
- IPO
- Acquired 
- Operating
- Closed

In [22]:
df2 = pd.read_csv('./data/companies_status.csv')

In [23]:
def join_df(left, right, left_on, right_on=None, col_on = None):
    if right_on is None: right_on = left_on
    return left.merge(right[col_on], how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", "_y"))

In [24]:
df_main = join_df(df_dollar, df2, "ds_uuid", "ds_uuid", col_on = ['ds_uuid','status'])

In [25]:
df_dollar.shape, df_main.shape

((247223, 21), (247223, 22))

In [26]:
df_main.to_csv('./data/companies_funding_dollar_adjusted_status.csv')